.mobile-header {
    height: 9vh;
    width: 100%;
    background-color: deepskyblue;
    display: flex;
    justify-content: space-around;
    position: relative;
}
#mobile-links {
    display: none;
    position: absolute;
    top: 9vh;
    left: 0px;
    z-index: 9999;
    background-color: deepskyblue;
    width: 50%;
}
.logo-pic {
    height: 50px;
    width: 50px;
    margin: 3px;
}
.auth-link, button {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    text-decoration: none;
    background-color: dimgrey;
    color: white;
    border-radius: 2px;
    padding: 1px 2px;
    margin: 3px;
    border: black 1px solid;
    &:hover {
        background-color: #8ffd60;
        color: black;
        font-weight: bold;
    }
}
h2 {
    font-size: 20px;
}
.user-div-desktop {
    display: none;
}
.user-div input {
    margin: 5px;
}
.login-div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.desktop-header {
    display: none;
}

/* ====================== Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
@media only screen and (min-width: 1200px) {
    .desktop-header {
        height: 11vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: deepskyblue;
    }
    .links {
        display: flex;
    }
    .logo-pic {
        height: 100px;
        width: 100px;
        margin: 4px;
    }
    h2 {
        font-size: 32px;
    }
    .user-div-desktop {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .mobile-header {
        display: none;
    }
}
/*end media query*/
/*End desktop only styles*/