.Auth {
  height: 80vh; }

.bgimage {
  width: 100%;
  height: 98vh;
  object-fit: cover; }

.container {
  position: relative; }

.dropdowns {
  width: 280px;
  height: 320px;
  background: rgba(75, 68, 66, 0.8);
  opacity: 80%;
  color: white;
  box-sizing: border-box;
  padding: 55px 30px;
  border-radius: 2px;
  position: absolute;
  margin: 20px;
  top: 80px;
  left: 7%;
  font-size: 26px; }

/* ====================== Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
@media only screen and (min-width: 1200px) {
  .container {
    position: relative; }
  .dropdowns {
    width: 320px;
    height: 420px;
    background: rgba(75, 68, 66, 0.8);
    opacity: 80%;
    color: white;
    box-sizing: border-box;
    padding: 55px 30px;
    border-radius: 2px;
    position: absolute;
    top: 100px;
    left: 40%;
    font-size: 26px; }
  .dd-wrapper {
    padding: 15px 30px 45px; }
  .dd-list {
    width: 140px;
    height: 30px; }
  .search-btn {
    padding: 5px 12px;
    font-size: 26px;
    margin: 15px; } }

/*end media query*/
.Header {
  height: 10vh;
  width: 100%;
  background-color: deepskyblue;
  display: flex;
  justify-content: space-around; }

.logo-pic {
  height: 50px;
  width: 50px; }

.auth-link, button {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  text-decoration: none;
  background-color: dimgrey;
  color: white;
  border-radius: 2px;
  padding: 1px 2px;
  margin: 3px;
  border: black 1px solid; }
  .auth-link:hover, button:hover {
    background-color: #8ffd60;
    color: black;
    font-weight: bold; }

.user-div input {
  margin: 5px; }

.login-div {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; }

/* ====================== Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
@media only screen and (min-width: 1200px) {
  .Header {
    height: 17vh;
    display: flex;
    justify-content: space-between; }
  .logo-pic {
    height: 100px;
    width: 100px; }
  .user-div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; } }

/*end media query*/
/*End desktop only styles*/
.website-icon, .fb-icon, .ig-icon, .twitter-icon {
  height: 30px;
  width: 30px; }

/* ====================== Mobile Portrait and Up ========================== */
.App {
  width: 100vw;
  text-align: center;
  background-color: dimgrey;
  height: 100vh;
  font-family: 'Exo', sans-serif; }

/*End mobile and up styles*/
/* ====================== Tablet Portrait and Up (Overrides Mobile Styles) ========================== */
/*end media query*/
/*End tablet and up styles*/
/* ====================== Tablet Landscape and Up (Overrides Mobile and Tablet Portrait Styles) ========================== */
/*end media query*/
/*End landscape tablet and up styles*/
/* ====================== Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
/*end media query*/
/*End desktop only styles*/
